.banner{
    background-image: url(banner.webp);
    height: 55px ;
    padding: 80px 0 ;
    background-position: center ;
    background-size: contain;
   
}
.h-signup{
    margin: auto;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 1.2rem;
    
}
.signup-cont{
    margin-top: 2rem;
}
.account-inner input{
    width: 100%;
  height: 2.8rem;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
}
.chck-box-input{
    width: auto !important;
    height: auto !important;
  
}
.account-login-btn{
    font-size: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    padding: 16px 0;
    border: none;
    background-color: #dc2c83;
    color: white;
    transition: all 0.3s ease 0s ;
    cursor: pointer;
}
.account-login-btn:hover{
    background-color: #061738;
    color: white;
}
.account-signup{
    border-radius: 1rem;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    width: 40%;
    padding: 2rem;
    margin: auto;
}
.account-signup-header{
    margin-bottom: 1.5rem;
}
.account-signup-header p{
    font-weight: 700;
    font-size: 14px;
    color: #606060;
}
.account-signup-header h2{
    font-weight: 800;
    font-size: 1.5rem;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.divider{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 0.8px;
    width: 100%;
    background-color: #606060;
    opacity: 0.8;
}
.para-login{
    text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  color: #606060
}
.login-hover{
    color: #606060;
}
.login-hover:hover{

    color: #dc2c83;
}
.pass-forgot{
    font-weight: 800;
    color: #dc2c83;
    text-align: right;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s ease 0s ;
}
.pass-forgot:hover{
    color: #061738;
}
.wrapper-pass-forgot{
    justify-content: end;
}
input:focus{
    outline: 1px solid #dc2c83;
}