

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --primary-color: #black;
    --text-color: #fff;
    --background: #2a272788;
    ---padding-inline-section: 20px;
  }
  body{
    font-family: "Nunito", sans-serif;
    
  }

  